{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/subject_styles.css' %}">
    <title>Select Grade Level</title>
</head>

<!----------------------------------------------------------------------------->
<!-- CSS Styles -->

<style>
    body {
        margin: 10;
        padding: 40px;
        font-size: 18px;
    }

    .button {
        background-color: #1d89b7;
        border: none;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<!----------------------------------------------------------------------------->
<!-- Content -->

<body>

    <header>
        <div class="banner">
            <p class="banner-text">Studdy<p>
            <p class="banner-text" style="font-size: 14px; font-weight: normal; left: 40px; top: 59px;">Your Personalized Study Buddy</p>
        </div>

        <div class="logged-in-as">
            Logged in as {{ request.user.username }}
        </div>

        <div>
            <a href="{% url 'studdyApp:logout' %}" class="logout-button">
                <img src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png" alt="Logout" class="logout-icon">
                <span class="popup-note">Logout</span>
            </a>
        </div>
    </header>

    <div class="container">
        <h2>Select Your Grade Level for {{ subject_name|title }}</h2><br>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Continue</button>
        </form>

         <div>
            <a href="https://studdy.pythonanywhere.com/" class="home-button">⇦ Back to Home</a>
        </div>
    </div>
</body>
</html>
